a{
    text-decoration: none;
    color: #333333;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    display: table;
}
/***********头部***************/
#header{
    width: 100%;
    height: 32px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e7e7e7;
}
.header_t{
    line-height: 32px;
}
.header_t h2{
    float: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.header_t ul{
    float: right;
    position: relative;
}
.header_t ul li{
    float: left;
    font-size:12px;
    min-width: 80px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.header_t li a{
    color: #666;
    padding:0 5px;
    
}
.header_t b{
    color:#dfdfdf;
    position: absolute;
    right: 0;
}
.header_t ul ol{
    position: absolute;
    display: none;
    left: -1px;
    border:1px solid #F0F0F0;
    border-top-color: #ffffff;
    background: #ffffff;
    z-index: 100;
    
}
.header_t li:not(:first-child):hover{
    background: #ffffff;
}

.h_mine:hover ol{
    display: block;
    
}
.h_server:hover ol{
    display: block;
}
.h_img{
    position: absolute;
    width: 540px;
    left: -310px;
    display: none;
    background: #ffffff;
}
.h_img p{
    float: left;
    width: 180px;
    margin-top:17px; 
}
.h_phone{
    width: 90px;
}
.h_phone:hover .h_img{
    display: block;
}
.h_img_line {
    position: absolute;
    top:42px;
    left: 179px;
    width: 1px;
    height: 97px;
    background: #dedede;
    display: block;
}
.h_img_line2 {
    position: absolute;
    top:42px;
    left: 50%;
    margin-left: 87px;
    width: 1px;
    height: 97px;
    background: #dedede;
    display: block;
}
.h_manage:hover ol{
    display: block;
}
.h_select{
    position: absolute;
    width: 1200px;
    border: 1px solid #f0f0f0;
    padding: 14px 0 15px;
    top:32px;
    right: -1px;
    display: none;
    background: #ffffff;
}
.h_select dl{
    width: 278px;
    float: left;
    border-right: 1px solid #f0f0f0;
    margin-left: 20px;
}
.h_select dl dt{
    font-size: 16px;
    line-height: 34px;
    text-align: left;
}
.h_select dd{
    font-family: '宋体';
    text-align: left;
    line-height: 24px;
}
.h_select dd a{
    display: block;
    width: 87px;
    float: left;
    padding: 0;
}
.h_select dd a:hover{
    color: red;
}
.h_nav:hover .h_select{
    display: block;
}
.header_t i{
    display: inline-block;
    transition: all 0.2s;
}
.header_t li:hover i{
    transform: rotate(180deg);
}

/***********导航栏*************/
/*****导航头部******/
.nav_t{
    position: relative;
    height: 120px;
}
.nav_t div{
    float: left;
}
.nav_t .n_prvc{
    padding-top:37px;
    width: 84px;

}
.n_prvc h2 a{
    color: #333;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 8px;
}
.n_prvc div{
    width: 61px;
    height: 21px;
    border: 1px solid #e5e5e5;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 16px;
}
.n_prvc div a{
    width: 61px;
    height: 21px;
    color: #a0a0a0;
    font-size: 12px;
}
.n_prvc div span{
    width: 61px;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 4;
    background: #fff;
    display: none;
}

.n_prvc .n_prvc_ch{
    width: 296px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 21px;
    left: -1px;
    z-index: 3;
    display: none;
}
.n_prvc div:hover .n_prvc_ch{
    display: block;
}
.n_prvc div:hover span{
    display: block;
}
.n_prvc_ch{
    background: #ffffff;
}
.n_prvc_ch li{
    width: 59px;
    line-height: 34px;
    text-align: center;
    float: left;
   
}
.n_prvc_ch li a{
    color: #333333;
}
.n_serach{
    padding-top:37px;
    margin-left: 50px;
    height: 56px;
    width: 441px;
}
.n_serach a{
    color: #999;
    font-size: 12px;
    margin-right: 15px;
}
.n_serach input{
    width: 256px;
    height: 32px;
    border: 1px solid #e60012;
    border-right:none;
    padding-left: 40px;
    font-size: 12px;
    color: #666666;
    float: left;
    background: url(../img/sc_fdj.png) 12px 7px no-repeat;
    cursor: pointer;
}
.n_serach button{
    width: 70px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    float: left;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background: #e60012;
    margin-right: 2px;
}
.n_shopcar{
    margin-top:37px;
    width: 138px;
    height: 32px;
    line-height: 28px;
    border: 1px solid #dfdfdf;
    background: #f9f9f9;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    
}
.n_shopcar i{
    font-size: 16px;
    color: #e60012;
    padding-left:30px; 
}
.n_shopcar a{
    width: 92px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #333333;
    
}
.n_shopcar a span{
    width: 15px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/isprite.png) -33px -17px no-repeat;
}
.n_shopcar b{
    width: 18px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    right: 18px;
    top:-3px;
    color: #ffffff;
    background: url(../img/isprite.png) -19px 0 no-repeat;
}
.n_img{
    position: absolute;
    top: 8px;
    right: 0;
}
.n_img img{
    vertical-align: bottom;
}

/*****导航中部******/
.nav_m{
    width: 100%;
    height: 43px;
    border-bottom: 2px solid #e60012;
}
.nav_m_lt{
    position: relative;
}
.nav_m dl{
    position: absolute;
    width: 212px;
    top:0;
    left: 0;
    z-index: 5;
}
.nav_m dl dt{
    font-size: 16px;
    height: 43px;
    background: #e60012;
    padding-bottom: 2px;
   
}
.nav_m dl dt p{
    padding-left: 16px;
    color: #fff;
    line-height: 43px;
    width: 212px;
    
}
.nav_m dl dt p i{
    width: 21px;
    height: 43px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url(../img/isprite.png) -59px 15px no-repeat;
}
.nav_m dl dd a{
    padding-left: 16px;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
}
.nav_m dl dd{
    height: 44px;
    background:#dd0c1d;
    border-bottom: 1px solid #e02e3c;
    position: relative;
}
.nav_m dl dd i{
    vertical-align: top;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top:12px;
    margin-right: 15px;
    background: url(../img/isprite.png) no-repeat;
    
}
.nav_m .kind_0{
    background-position: -108px 0;
}
.nav_m .kind_1{
    background-position: -397px 0;
}
.nav_m .kind_2{
    background-position: -302px -33px;
}
.nav_m .kind_3{
    background-position: -208px 0;
}
.nav_m .kind_4{
    background-position: -154px 0
}
.nav_m .kind_5{
    background-position: -205px -34px
}
.nav_m .kind_6{
    background-position: -351px 0; 
}
.nav_m .kind_7{
    background-position: -255px 0;
}
.nav_m .kind_8{
    background-position: -158px -35px;
}
.nav_m .kind_9{
    background-position: -108px -36px;
}
.nav_m .kind_10{
    background-position: -59px -34px;
}
.nav_m dl dd:hover .kind_0{
    background-position: -130px 0;
}
.nav_m dl dd:hover .kind_1{
    background-position: -418px 0;
}
.nav_m dl dd:hover .kind_2{
    background-position: -324px -33px;
}
.nav_m dl dd:hover .kind_3{
    background-position: -230px 0;
}
.nav_m dl dd:hover .kind_4{
    background-position: -176px 0;
}
.nav_m dl dd:hover .kind_5{
    background-position: -227px -34px;
}
.nav_m dl dd:hover .kind_6{
    background-position: -373px 0;
}
.nav_m dl dd:hover .kind_7{
    background-position: -277px 0;
}
.nav_m dl dd:hover .kind_8{
    background-position: -179px -35px;
}
.nav_m dl dd:hover .kind_9{
    background-position: -130px -36px;
}
.nav_m dl dd:hover .kind_10{
    background-position: -80px -34px;
}
.nav_m dl dd span{
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    right: 14px;
    top:19px;
    background: url(../img/isprite.png) -495px -379px no-repeat;
}
.nav_m dl dd:hover{
    background: #fff;
    
}

.nav_m dl dd:hover>a{
    color: #dd0c1d;
}
.nav_m dl dd:hover div{
    display: block;
}
.nav_m dl dd div{
    height: 495px;
    position: absolute;
    left: 212px;
    z-index: 1;
    top:0;
    background-color: red;
    display: none;
}
.nav_m ol{
    height: 493px;
    display: block;
    background: #fff;
    border-top:1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.nav_m ol li{
    width: 108px;
    line-height: 47px;
    height: 47px;
    text-align: center;
    background: #fff;
    
}
.nav_m ol li a{
    color: #333;
    display: block;
    width:108px;
    padding-left: 0;
    font-size: 14px;
}
.nav_m ol li a:hover{
    background: #e02e3c;
    color: #ffffff;
    width: 90px;
    margin: 0 auto;
}
.nav_m ul{
    width: 960px;
    margin-left:216px;
}
.nav_m ul li{
    float: left;
    line-height: 43px;
    height: 43px;
    font-size: 15px;
    padding: 0 18px;
}
.nav_m ul li:nth-of-type(1) a{
    color: #e60012;
}
.nav_m ul li:hover a{
    color: #e60012;
}

/*********导航底部*********/
.nav_banner{
    width: 768px;
    height: 495px;
    margin: 10px 10px 0 222px;
    float: left;
    position: relative;
    overflow: hidden;
  
}
.banner{
    opacity: 0;
    position: absolute;
}

.nav_banner ul{
    width: 100%;
    height: 12px;
    line-height: 12px;
    position: absolute;
    left: 0;
    bottom: 20px;
    text-align: center;
}
.nav_banner li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}
.nav_banner .active{
    background-color: red;
}
.lbtns{
    width: 30px;
    height: 84px;
    position: absolute;
    left: 19px;
    top: 206px;
    background: url(../img/isprite.png) 0px -212px no-repeat;
    z-index: 3;
    display: none;
}
.rbtns{
    width: 30px;
    height: 84px;
    position: absolute;
    right: 19px;
    top:209px;
    background: url(../img/isprite.png) -30px -212px no-repeat;
    display: none;
}
.nav_news{
    float: left;
    width: 200px;
    padding-top:10px;
}
.news_mine{
    width: 198px;
    border: 1px solid #e9e8ed;
    background: #f9f9f9;
    margin-bottom: 10px;

}
.news_mine dl{
    width: 178px;
    padding: 11px 10px 16px 10px;
    position: relative;
    display: table;
}
.news_mine dl dt{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}
.news_mine dl dd{
    float: left;
    padding-top:5px;
}
.news_mine dd h2{
    margin-right: 8px;
    font-size: 14px;
    color: #e60012;
}
.news_mine dd h3{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.news_btn{
    width:176px;
    padding: 0 11px;
    display: table;
    font-size: 14px;
    margin: 0 auto 15px;
}
.news_login{
    width: 83px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e60012;
    background-color: #e60012;
    color: #fff;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 3px;
}
.news_registor{
    width: 83px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dfdfdf;
    display: inline-block;
    text-align: center;
    float: right;
    border-radius: 3px;
}
.news_more{
    width: 198px;
    border: 1px solid #e9e8ed;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}
.more_t{
    width: 170px;
    padding: 0 14px;
    height: 35px;
    line-height: 35px;
    display: table;
    border-bottom: 1px dashed #e0e0e0;
}
.more_t span{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    float: left;
}
.more_t span a{
    color: #e60012;
}
.more_t p{
    height: 35px;
    line-height: 35px;
    float: right;
    font-size: 12px;
}
.more_t p i{
    width: 9px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/isprite.png) -39px -16px no-repeat;
}
.more_news{
    width: 176px;
    padding: 6px 8px 8px 14px;
    text-overflow: clip;
}
.more_news li{
    height: 31px;
    font: 12px/1.5 arial,tahoma,宋体;
    line-height: 30px;
}

.news_method ul{
    width: 198px;
    display: table;
    padding-left: 1px;
    border-top: 1px solid #e9e8ed;
    border-left: 1px solid #e9e8ed;
    background-color: #fff;
}
.news_method ul li{
    width: 65px;
    height: 68px;
    float: left;
    border-right: 1px solid #e9e8ed;
    border-bottom: 1px solid #e9e8ed;
}
.news_method ul li a{
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    padding-top: 40px;
    display: block;
    background: url(../img/isprite.png) no-repeat;
}
.nav_news a:hover{
    color:#e60012;
}
.news_mine .news_login:hover{
    color: #fff;
}

/******主体*****/
/*****section1*****/
#main{
    width: 100%;
    margin: 0 auto;
    display: table;
 
}
.m_section1{
    display: table;
    margin-top:45px;
}
.s1_l{
    float: left;
    width: 175px;
    padding-left: 30px;
    padding-right: 35px;
}
.s1_l_logo{
    width: 174px;
    padding-top:19px;
}
.s1_l_logo h2{
    font-size: 12px;
    width: 174px;
    line-height: 53px;
    height: 53px;
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #d5d5d5;
}
.s1_l_btn{
    display: table;
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 47px;
}
.s1_l_btn p{
    width: 70px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    float: left;
    border: 1px solid #ece8e7;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
.s1_l_btn p a{
    font-size:12px;
    height: 41px;
    line-height: 41px;
    display: block;
}
.s1_l_btn p span{
    font-size: 12px;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 41px;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    display: none;
}
.s1_l_btn p:hover{
    background: #e60012;
}
.s1_l_btn p:hover a{
    display: none;
}
.s1_l_btn p:hover span{
    display: block;
}
.s1_l_wish{
    width: 175px;
    height: 48px;
    background: url(../img/isprite.png) 0px -142px no-repeat;
    padding-top: 12px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.s1_r{
    width: 960px;
    position: relative;
    float:right;
    background: #fff;
}
.s1_r_top{
    height: 40px;
    line-height: 40px;
}
.s1_r_top p{
    float: left;
    font-size: 16px;
    color: #e60012;
}
.s1_r_top span{
    float:right;
    font-size: 12px;
}
.s1_r_bot{
    width: 960px;
    height: 395px;
    border: 1px solid #f8f8f8;
}
.s1_r_bot>div{
    float: left;
}
.s1_r_bot .bot_l{
    width: 320px;
    height: 395px;
    float: left;
    border-right: 1px solid #f8f8f8;
    overflow: hidden;
}
.s1_r_bot .bot_m{
    width: 330px;
    float: left;
    border-right: 1px solid #f8f8f8;
}
.s1_r_bot .bot_r{
    width: 307px;
    float: left;
}
.bot_r p{
    width: 275px;
    line-height: 47px;
    height: 47px;
    display: table;
    border-bottom: 1px dashed #e0e0e0;
    margin: 0 12px 0 16px;
}
.bot_r p .a1{
    font-size: 14px;
    float: left;
    font-weight: bold;
    padding-left: 7px;
    color: #333333;
}
.bot_r p .a2{
    font-size: 12px;
    float: right;
    color: #8c8c8c;
}
.bot_r ul{
    width: 275px;
    padding: 6px 12px 0 16px;
    text-overflow: clip;
    font-size: 14px;
}
.bot_r ul li{
    line-height: 30px;
    height: 30px;

}
.bot_r ul li a:hover{
    color:#ff9e3e;
}

/*******section2*******/
.m_section2{
    margin-top:35px;
}
.s2_top{
    padding-left: 40px;
    position: relative;
    height: 52px;
    line-height: 52px;
}
.s2_top span{
    position: absolute;
    top: 13px;
    left: 0;
    width: 31px;
    height: 25px;
    background: url(../img/lct_floor.png) no-repeat 0 0;
}
.s2_line{
    height: 2px;
    width: 1200px;
    background: #e0aaf8;
}
.s2_l{
    float: left;
    width: 300px;
}
.s2_l_img{
    width: 300px;
    height: 285px;
}
.s2_l_goods{
    width: 300px;
    height: 177px;
    background: #e0aaf8;
}
.s2_l_goods ul{
    padding: 0 8px 0 15px;
}
.s2_l_goods ul li{
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #db8cff;
}
.s2_l_goods ul li a{
    color: #ffffff;
    display: inline-block;
    margin-right: 2px;
    width: 62px;
    font-size: 12px;
}
.s2_l_goods ul li span{
    background: #d378fb;
    height: 26px;
    line-height: 26px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 7px 0px 7px;
}
.s2_r{
    float: left;
    width: 900px;
    background: #fff;
}
.s2_r p img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.s2_r li{
    float: left;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    width: 299px;
    height: 230px;
    position: relative;
    overflow: hidden;
}
.s2_r li h2{
    color: #333;
    font-size: 16px;
    padding-top: 7px;
    line-height: 28px;
    text-align: center;
    font-weight: normal;
}
.s2_r li h4{
    color: #999;
    font-size: 12px;
    height: 22px;
    text-align: center;
}
.s2_r li a p{
    height: 160px;
    width: 160px;
    margin: 0px auto;
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
    

}
.s2_r li a div{
    position: absolute;
    bottom: -34px;
    height: 33px;
    width: 100%;
    line-height: 33px;
    background: #e20016;
  
}
/* .s2_r li:hover div{
    bottom: 0;
} */
.s2_r li a div h3{
    padding-left: 12px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: inline;
    float: left;
}
.s2_r li a div span{
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    float:right;
    padding-top:2px;
}
.s2_bot{
    width: 1200px;
    display: table;
    border-left: 1px solid #eaeaea;
    background: #fff;
}
.s2_bot li{
    width: 149px;
    height: 40px;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    float: left;
    padding: 13px 0px;
    text-align: center;
}

/*******section3*******/
.m_section3{
    height: 582px;
    margin-top:35px;
}
/*******section4*******/
.m_section4{
    height: 582px;
    margin-top:35px;

}
/*******section5*******/
.m_section5{
    height: 582px;
    margin-top:35px;


}
/*******section6*******/
.m_section6{
    height: 582px;
    margin-top:35px;

}
.m_section7 {
    margin-top:35px;
    display: table;
}
.m_section7>div{
    float: left;
    width: 370px;
}
.m_section7 h2{
    font-size: 18px;
    font-weight: bold;
    padding-left: 24px;
    line-height: 35px;
    background: url(../img/isprite.png) -495px -106px no-repeat;
    margin-bottom: 17px;
}
.se7_lt img{
    width: 370px;
}
.se7_lt p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 4px;
}
.se7_lt span{
    color: #999999;
    line-height: 17px;
    font-size: 12px;
}
.se7_mid{
    margin:0 26px;
}
.se7_mid>ul{
    width: 364px;
    display: table;
}
.se7_mid>ul>li{
    width: 170px;
    height: 115px;
    float: left;
    margin-right: 12px;
    position: relative;
}
.se7_mid>ul h3{
    width: 162px;
    height: 26px;
    padding-left: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    background: url(https://www.lecuntao.com/homenew/templates/default/images/ubg.png?v=ad88fcaaf1) 0px 0px repeat-x;
}
.se7_mid img{
    width: 170px;
    height: 115px;
}
.scnews{
    margin-top: 10px;
    overflow: hidden;
    height: 141px;
}
.scnews ul{
    width: 364px;
    background: url(https://www.lecuntao.com/homenew/templates/default/images/nubg.png?v=a061b4378f) no-repeat 3px 12px
}
.scnews ul li{
    width: 346px;
    height: 47px;
    padding-left: 18px;
    vertical-align: text-top;
    background: url(../img/isprite.png) -492px -235px no-repeat;
}
.scnews li p{
    font-size: 14px;
    line-height: 20px;
}
.scnews li i{
    line-height: 17px;
    display: table;
    color: #999;
    font-size:12px;
    font-style: normal;
}
/********footer*********/
#footer{
    width: 100%;
    margin: 65px auto 0 auto;
    background-color: #f9f9f9;
    display: table;
    border-top: 1px solid #f1f1f1;
}
#footer .wrapper{
    width: 1171px;
    padding-left: 29px;
    height: 214px;
    padding-top: 49px;
    margin: 0 auto;
    background-color: #f9f9f9;
    display: table;
    position: relative;
}
.info_dl {
    width: 166px;
    float: left;
}
.info_dl dt {
    font-size: 18px;
    line-height: 43px;
    height: 43px;
    color: #333333;
}
.info_dl dd {
    line-height: 26px;
    height: 26px;
    font-size: 12px;
}
.ewmu {
    padding-top: 15px;
    float: right;
    display: table;
}
.ewmu li {
    width: 90px;
    margin-right: 8px;
    float: left;
}
.ewmu li h2 {
    line-height: 27px;
    text-align: center;
    font-size: 12px;
}
.car_i {
    width: 116px;
    height: 58px;
    background: url(../img/car.png) 0 0 no-repeat;
    position: absolute;
    left: 4px;
    top: -22px;
}
.home_i {
    width: 252px;
    height: 109px;
    background: url(../img/home.png) 0 0 no-repeat;
    position: absolute;
    right: 9px;
    top: -65px;
}

/******侧边菜单栏*******/
.menu{
    position: fixed;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 100;
}
/* .mu_all{
    width: 34px;
    position: absolute;
    background: url(../img/rightbar/bg34.png) repeat-y;
    z-index: 2;
    top: -143px;
    right: -1px;
    font-family: 'microsoft yahei',arial;
    height: 503px;
} */

.floor{
    z-index: 5;
    position: fixed;
    top: 300px;
    left: 281.5px;
    display: none;
    width: 35px;
    overflow: hidden;
}
.floor ul{
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}
.floor ul li{
    width: 35px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid #e9e8ed;
}
.floor ul .floorname{
    font-size: 12px;
    color: orange;
    display: block;
}
.floor ul li a:hover{
    background: orange;
}
.floor ul li a:hover {
    color: #fff;
}
.floor ul li:hover .floornum{
    display: none;
}

.floor .floornum{
    display: block;
    font-size: 14px;
    font-family: Arial;
    color: #625351;
}
.floor .back{
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    width: 35px;
    height: 40px;
    background: url(../img/isprite.png) no-repeat -429px -129px;
}
